html{
    height: 100%;
    width: 100%;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    color: #068EE8;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    color: black;
}

#pageHeading{
    text-align: center;
}

.btn{
    margin-top: 40px;
}

.container{
    width: 1000px;
    height: 1000px;
    margin-top: 40px;
    border: solid 1px black;
    display: grid;
    align-self: center;
    /* grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto); */
}

.breakLineDiv{
    width: 960px;
    height: 960px;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(auto, auto);
    grid-template-columns: repeat(auto);
}

.etchTile{
    border: 2px solid black;
    background-color: aquamarine;
}